# Machine-specific configuration.
# Copy this file to config/local.env and edit as needed.

#AI Tools
ENABLE_CHATGPT="no"
ENABLE_ANTIGRAVITY_CLI="no"
ENABLE_ANTIGRAVITY_DESKTOP="no"
ENABLE_FREEBUFF_CLI="no"
ENABLE_FREEBUFF_DESKTOP="no"
ENABLE_OLLAMA="no"
OLLAMA_MODEL=""
